.App {
  text-align: center;
}
.pet-logo{
  width: 150px;
}
.NavBar{
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  align-items: center;
  margin: 20px;
}
.pet-card{
  border: 1px solid black;
  margin: 20px;
}
.pets-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

}